html, body {
    margin: 0;
    padding: 0;
}

#gate {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

* {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        .will-animate {
            will-change: transform;
        }
